<!DOCTYPE html>
<html>
<head>
<link href="style.css" rel="stylesheet">
<meta charset="utf-8">
<style>
    li { margin-top: 5px; }
</style>
<title>{{title}}</title>
</head>
<body>
{{{body}}}
</body>
</html>
